.spinner {
  position: absolute;
  left: 0;
  right: 0;
  &--rotate {
    animation: spinner--rotate 2s linear infinite;
    transform-origin: 50% 50%;
  }
  &--foreground {
    border-radius: 10px;
    stroke-linecap: round;
    transition: stroke-dashoffset 200ms linear, stroke 200ms linear;
    will-change: auto;
  }
}
